header {
  width: 100vw;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

}

section{
  text-align: center;
}